<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.my.mybatis.UserMapper">
	
	<insert id="insert" parameterType="User">
		INSERT INTO member VALUES (#{email}, #{passwd}, #{name}, #{mobile})
	</insert>

	<select id="login" resultType="User">
		SELECT email, passwd, name, mobile FROM member 
		WHERE email = #{email} AND passwd = #{passwd}
	</select>

	<update id="modify" parameterType="User">
		UPDATE member SET name = #{name}, mobile = #{mobile} 
		WHERE email = #{email} AND passwd = #{passwd}
	</update>
	
	<update id="changePasswd" parameterType="User">
		UPDATE member SET passwd = #{passwd} WHERE email = #{email}
	</update>
	
	<delete id="byeMember" parameterType="User">
		DELETE FROM member WHERE email = #{email}
	</delete>	
	
</mapper>